@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="rainbow-text">
        <p>TEST YOUR LUCK!</p>
    </div>

    <div class="beating-text">
        <p>Press the coin to win!</p>
    </div>

    <button id="coinBtn" class="coinBtn">
        <img src="~/img/Coin Spin.gif" alt="spinning coin" />
    </button>

    <div id="coinModal" class="coinModal">
        <div class="coinModal-content">
            <h1>CONGRATULATIONS! YOU WON!</h1>
            @Html.ActionLink("-> CLAIM PRIZE <-", "Aranas", "Home")
        </div>
    </div>

    <div style="font-size: 20px; margin-top: 20px">
        @Html.ActionLink("SEE PRIZES", "Backschadt", "Home")
    </div>

    <div style="margin-top: 50px">
        @Html.ActionLink("Return to main", "Index", "Home")
    </div>
</div>
